body{
    font-family: 'Poppins', sans-serif;
    margin: 3px;
}
h1{
    font-size: 35px;
}
.orange-color{
    color: rgb(255, 0, 255);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.aline-text{
    text-align: justify;
    padding-right: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 0px 0px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#081ff1, #11d9e7);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#fd0202, #1202f7);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}